<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.car.carsquad.carapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".FCMReceiver">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.car.carsquad.carapp.MainActivity" />
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.car.carsquad.carapp.MainActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Register"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.car.carsquad.carapp.MainActivity" />
        </activity>
        <activity
            android:name=".RiderActivity"
            android:label="Rider" />
        <activity
            android:name=".DriverActivity"
            android:label="Driver" />
        <activity
            android:name=".DriverPostActivity"
            android:label="Post Rides" />
        <activity
            android:name=".DriverProfileActivity"
            android:label="Driver Profile" />
        <activity
            android:name=".UpdateUserInfoActivity"
            android:label="Update User Info" />
        <activity
            android:name=".SearchActivity"
            android:label="Enter Ride Preferences" />
        <activity
            android:name=".MessageActivity"
            android:label="Message your buddies!" />
        <activity
            android:name=".ChatRoomActivity"
            android:label="Chat Room" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAQ27pNj-PxchceZSOrO0Caea_jOrot52I" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RiderPostDetails" />
        <activity android:name=".DriverPostDetails" />
        <activity
            android:name=".RiderRequestedRides"
            android:label="Your Requested Rides" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/> <!-- optional (needed if default theme has no action bar) -->
        <activity
            android:name=".RiderAcceptedRides"
            android:label="Your Accepted Rides" />
        <activity
            android:name=".MainCurrentRidesHolder"
            android:label="CURRENT RIDES"
            android:parentActivityName=".RiderActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.car.carsquad.carapp.RiderActivity" />
        </activity>
        <activity android:name=".DriverFinishedRideActivity"></activity>
        <activity android:name=".RatingActivity"></activity>
    </application>

</manifest>